/* Barchart Animations */
@keyframes barmove {
  from {
    width: 1%;
  }

  to {
    width: 85%;
  }
}

@keyframes barContainer {
  from {
    width: 0;
  }

  to {
    width: 85%;
  }
}

/* Name Animations */
@keyframes introLetters {
  0% {
    width: 0;
    opacity: 0;
    transform: translateY(-300px);
    /* 		position: absolute; */
  }

  100% {
    text-shadow: 0.5px 0.5px 1px #F4ADE5;
    opacity: 1;
    /* 		position: relative; */
  }
}

@keyframes introInitials {
  from {
    font-size: 2em;
    /* 		color: #0C1E12; */
    margin: 0 -40% !important;
  }

  to {
    font-size: 1em;
    /* 		color: #52D57B; */
    text-shadow: 0.5px 0.5px 1px #F4ADE5;
    margin: 0 0 !important;
  }
}

/* Link Hover Effects */
@keyframes underline {
  from {
    width: 0;
  }

  to {
    border-bottom: 4px solid #F092DD;
    width: 60%;
  }
}


@keyframes boxLinkHover {
  0% {
    height: 0;
    width: 0;
  }

  50% {
    width: 0;
    height: 100%;
  }

  100% {
    height: 100%;
    width: 100%;
  }
}

/* Slide Content in on Scrollin */
@keyframes headingReveal {
  from {
    right: 100%;
    opacity: 0;
  }

  to {
    opacity: 1 !important;
    right: 0;
  }
}

@keyframes bodyReveal {
  from {
    left: 120%;
    opacity: 1;
  }

  to {
    opacity: 1 !important;
    left: 0;
  }
}


/* Base Settings */
html {
  box-sizing: border-box;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #11111f;
  color: #E1E1E3;
  font-family: 'Lato', 'Futura', 'Century Gothic', 'Corbel', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  left: 0;
  opacity: 1;
  position: relative;
  transition: 1.5s ease-in-out;
  max-width: 60ch;
}

.pre.content,
.pre.row {
  left: 120% !important;
  opacity: 0 !important;
}

.intro main {
  display: none;
}

b {
  font-weight: bold;
}

p {
  margin: 1.5rem auto;
}


/* Links */
a {
  display: inline-block;
  position: relative;
  transition: 700ms ease-in-out;
}

a:focus,
a:hover {
  color: #F4ADE5;
}

a:focus {
  outline: 1px solid #3784D2;
  box-shadow: 1px 1px 3px #3784D2 inset;
}

a::after {
  /*  border-top: 1px solid white;*/
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  transition: 700ms ease-in-out;
  width: 0;
}

a:hover::after,
a:focus::after {
  left: 0;
  width: 100%;
  border-bottom: 0.215em solid #F4ADE5;
}

button,
a.buttonlink {
  background: none;
  border: 2px solid #73AB84;
  color: #73AB84;
}

a [class^='fa'] {
  padding: 10px;
  font-size: 1.5em;
  transition: transform 750ms ease-in;
}

a [class^='fa']::hover {
  content: none;
}

a:hover [class^='fa'] {
  transform: translateY(-10px);
}


/* Link that makes a box on hover */
.box-link {
  border: 1px solid #B46EA6;
  border-radius: 0.25em;
  position: relative;
}

.box-link:hover,
.box-link:focus {
  border: 1px solid #F4ADE5;
  color: #F4ADE5;
  transition: 1s ease-in-out;
}

.box-link::after,
.box-link::before {
  background: none;
  content: none;
  position: absolute;
  border: 3px solid #F4ADE5;
}

.box-link::before {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.box-link::after {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.box-link:hover::before,
.box-link:hover::after,
.box-link:focus::before,
.box-link:focus::after {
  content: '';
  animation: boxLinkHover 1s ease-in-out;
  animation-fill-mode: forwards;
}


/* Headings */
h2,
h3,
h4,
h5,
h6 {
  color: #F092DD;
  /*  font-weight: 600;*/
  position: relative;
  transition: 1.5s ease-in-out;
  right: 0;
  /*  margin: 1em 0;*/
}

h2.pre,
h3.pre,
h4.pre,
h5.pre,
h6.pre {
  right: 120% !important;
}

h1 {
  font-size: 1.33em;
}

h2.hero {
  color: #F092DD;
  font-size: 4.236em;
  text-shadow: 0 0 4px #F092DD;
}

h3 {
  font-size: 2.618em;
}

h4 {
  font-size: 1.618em;
  margin-top: 3rem;
}

h5,
h6 {
  font-size: 1.618em;
}

h5 {
  margin-top: 2em;
  position: relative;
}

h5::after {
  background: white;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 34%;
}


/* 'Sticky' Header */
header,
#name {
  background: #11111f;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  text-align: center;
  position: absolute;
  top: 0;
}

header {
  align-items: flex-end;
  transition: all 500ms ease-in-out;
  width: 100%;
  z-index: 5;
}

header.stuck {
  box-shadow: 0px 2px 5px #09090F;
  padding-bottom: 5px;
  position: fixed;
}

#name {
  align-items: center;
  padding: 10px 0 0 10px;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: auto;
  z-index: 3;
}


footer {
  background: #27272B;
  color: #965B8A;
  font-size: 1.25em;
  height: 300px;
  text-align: center;
  position: relative;
}


footer::before {
  background: #27272B;
  box-shadow: 0px 0px 30px #040408;
  content: "";
  transform: skewY(-10deg);
  position: absolute;
  top: -50%;
  right: 0;
  left: 0;
  height: 100%;
  z-index: -1;

}

.footer__name {
  font-size: 1.168em;
  font-weight: bold;
}



/* Responsive Navbar with animated hamburger button */

nav {
  color: #B46EA6;
  padding: 10px;
  text-align: right;
  top: 0px;
  right: 0;
  left: 0;
  width: 100%;
  transition-duration: 1s;
  z-index: 2;
}

nav a::before,
nav a::after {
  content: none;
}

nav a::after {
  border-top-width: 0;
  left: 50%;
}

nav.show {
  z-index: 5;
}

#navbutton {
  background: none;
  border: none;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  position: relative;
  counter-reset: bars;
  transition: 500ms ease-in-out;
}

.navbar {
  background: white;
  height: 2px;
  width: 20px;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
  margin-top: 5px;
  transition: 1s ease-in-out;
}

.show .navbar:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
}

.show .navbar:nth-child(3) {
  transform: rotate(-45deg);
  top: auto;
  bottom: 7px;
}

.show .navbar:nth-child(2) {
  opacity: 0;
}

nav ul {
  height: 0;
  overflow: hidden;
  transition-duration: 1s;
  transition-delay: 200ms;
}

nav li {
  text-align: center;
  margin: 0;
  width: 100%;
}

nav.show ul {
  display: block;
  height: 160px;
  /*  margin: 10px;*/
  padding: 0;
}

nav a {
  background: none;
  border: none !important;
  padding: 15px 15px 10px 15px;
  width: 100%;
}

nav a:hover,
nav a:focus {
  border: none;
  transform: none;
}

nav a::after {
  border-top-width: 2px;
}

.current {}

main {
  margin: 75px 5%;
  overflow-x: hidden;
  /*  opacity: 0;*/
}

section {
  padding: 25px 0;
  position: relative;
  margin: 175px auto;
}

/* Sideways Triangle Background Accent */
.accent {
  /*  background: #4D4D57;*/
  /*  background: #1B264F;*/
  background: #392F5A;
  background-image: linear-gradient(-10deg, #392F5A, #52496F, #9C97AC);
  box-shadow: 0px 0px 30px #040408;
  transform: rotate(-45deg);
  position: absolute;
  top: 70px;
  left: -64vw;
  width: 90vw;
  height: 90vw;
}


/* Custom Flex Grid */
.grid,
.grid > * {
  align-content: stretch;
  display: flex;
  width: 100%;
}

.grid {
  flex-flow: column nowrap;
}

.row {
  position: relative;
  left: 0;
  transition: 2.5s ease-in-out;
  opacity: 1;
  position: relative;
  flex-flow: column nowrap;
}

.item {
  justify-content: space-between;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}


/* Tab Show/Hide */
.tabbed {
  background: #33335e;
  /*  background: #11111f;*/
  border: 2px solid #d697c8;
  border-top: none;
  padding: 20px;
  flex-flow: column nowrap;
}

.tab-holder {
  align-items: stretch;
  align-content: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  margin-bottom: -2px;
  padding: 5px 10px 0 10px !important;
  width: 100%;
  z-index: 1;
  /*  border: 1px solid white;*/
}

.tab-button {
  background: #11111f;
  border-top: 2px solid #d697c8;
  /*  border-bottom: none;*/
  color: #33335d;
  flex: 1;
  margin: 0 3px;
  overflow: visible;
  padding: 10px;
  position: relative;
  text-align: center;
  transition: all 1s ease-out 250ms;
  z-index: 1;
}

.tab-button::after,
.tab-button::before {
  background: #11111f;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 0;
  opacity: 1;
  transition: all 1s ease-out 250ms;
  width: 10px;
  z-index: 0;
}

.tab-button::after {
  border-right: 2px solid #d697c8;
  right: -4px;
  transform: skewX(10deg);
}

.tab-button::before {
  border-left: 2px solid #d697c8;
  left: -4px;
  transform: skewX(-10deg)
}


.tab-button:hover,
.tab-selected {
  color: #D697C8;
}

.tab-selected,
.tab-selected::before,
.tab-selected::after {
  background: #33335e;
}

.tab-selected {
  /*  background: #11111f;*/
  /*  font-weight: bolder;*/
  flex-grow: 1.15;
  margin: 0 -2px;
  z-index: 3;
}

.tab-selected::before,
.tab-selected::after {
  z-index: 2;
  box-shadow: 2px 2px 10px #F092DD;
}

.tab {
  /*  color: #11111f;*/
  transition: 500ms ease-in 200ms;
  opacity: 0;
  padding: 0 !important;
  width: 1px;
  height: 1px;
  /*
  position: absolute;
  top: 20px;
  left: 0;
*/
  will-change: opacity;
  overflow: hidden;
}

.tab.tab-show {
  /*  color: #E1E1E3;*/
  /*  background: #33335e;*/
  opacity: 1;
  order: -1;
  height: auto;
  width: auto;

}


/* Animated Image Links */
.photolink::after {
  content: none
}

.photolink img {
  border: 2px solid #E1E1F9;
  transition: 750ms ease-in-out;
  width: 100%;

}

.photolink:hover img {
  transform: translateY(-15px);
  box-shadow: 0 15px 15px #040408;
}

/* Animated Name */

.intro #name {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
}

h1 {
  color: #F092DD;
  display: inline-flex;
  justify-content: center;
  /*  font-weight: bolder;*/
  margin: 0;
  padding: 0 10px 0 10px;
  position: relative;
  width: 90%;
  /* 	animation: introAll 2s ease-in-out;
	animation-fill-mode: both; */
}

.intro h1 {
  font-size: 2em;
}

.intro h1::after {
  animation: underline 1s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 3s;
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;

}

h1 div {
  overflow: hidden;
}

h1 .initial,
h1 .rest {
  animation-fill-mode: both !important;
  animation-delay: 1s !important;
}

h1 .initial {
  animation: introInitials 2s ease-in-out;
  color: #F092DD;
  display: inline-block;
  font-size: 1em !important;
  transition-duration: 1s;
  text-align: right;
}

h1 .rest {
  display: none;
  margin-right: 10px;
}

.intro h1 .rest {
  animation: introLetters 2s cubic-bezier(0.1, 0.3, 0.6, 0.2);
  animation-delay: 2s;
  display: inline-block;
  font-size: 1em;
}

/* Bar Chart Animation */

#animated-graphs-intro {
  /* 	background: #ccccff; */
  display: flex;
  justify-content: center;
  margin-bottom: 0.75em;
  width: 10vw;
  height: 8vw;
  min-height: 30px;
  min-width: 37.5px;
  max-height: 40px;
  max-width: 50px;

}

.intro #animated-graphs-intro {
  margin: 20px 0 0 0;
  width: 15vw;
  height: 15vw;
  min-height: 100px;
  min-width: 100px;
}

.bar-holder {
  height: 100%;
  width: 85px;
  transform: rotate(-90deg);
  animation: barContainer 1s ease-in-out 0s;
  animation-fill-mode: forwards;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column nowrap;
}

.intro .bar-holder {
  height: 80px;
  width: 70px;
}

.bar-holder div {
  background: #F4ADE5;
  border: 1px solid #D280C1;
  box-shadow: 0 0 2px #F7C9EE;
  height: 15%;
  width: 0;
  margin: 0;
  animation: barmove 1s ease-in 3s infinite alternate;
}

.bar-holder div:nth-child(2) {
  animation-delay: 3.25s;
  animation-duration: 1.5s;

}

.bar-holder div:nth-child(3) {
  animation-delay: 3.5s;
  animation-duration: 2s;

}

.bar-holder div:nth-child(4) {
  animation-delay: 3.75s;
}

.bar-holder div:nth-child(5) {
  animation-delay: 4s;
  animation-duration: 1.25s;

}

.bar-holder::before {
  border-right: 2px solid #F4ADE5;
  content: '';
  position: absolute;
  left: -4px;
  bottom: -2px;
  height: 110%;
}

.intro .bar-holder::before {
  bottom: 0;
  left: -10px;
}

.bar-holder::after {
  border-top: 2px solid #F4ADE5;
  content: '';
  top: -3px;
  left: -3px;
  position: absolute;
  width: calc(100% + 3px);
}

.intro .bar-holder::after {
  top: -10px;
  left: -10px;
  width: calc(100% + 10px);

}

/* Introduction Section */
#introduction {
  margin-bottom: 300px;
}

#introduction .content {
  color: #E1E1E3;
  font-size: 1.125em;
}


/* When viewport 800px or wider */
@media only screen and (min-width: 800px) {

  /* Body Size */
  body {
    font-size: 1rem;
  }

  main {
    margin: 100px 15%;
  }


  /* Headings */
  .intro h1 {
    font-size: 4.166em;
  }

  h1 {
    font-size: 2em;
  }

  h2.hero {
    font-size: 6.854em;
  }

  h3 {
    font-size: 4.236em;
  }

  h4 {
    font-size: 2.618em;
  }

  h5 {
    font-size: 1.618em;
  }

  h6 {
    font-size: 1em;
  }

  .intro .rest {
    margin-right: 22px;
  }


  /* Navbar */
  nav {
    /*    background-image: url(../content/img/backgrounds/diagonal-lines.svg);*/
    border: none;
    /*    box-shadow: 2px 2px 10px #2F2F3B;*/
    height: 65px;
  }

  nav a::before,
  nav a::after {
    content: '';
  }

  #resume-link {
    border: 1px solid #B46EA6;
    border-radius: 0.25em;
  }

  nav.show {
    background: inherit;
    z-index: 2;
  }

  #navbutton {
    display: none;
  }

  nav ul,
  nav ul.show {
    font-size: 0.8em;
    font-weight: bolder;
    text-transform: uppercase;
    display: inline-block;
    float: right;
    height: auto;
    overflow: auto;
    position: relative;
    width: auto;
  }

  nav ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    width: auto;
  }

  #resume-link {
    margin-left: 30px;
  }

  /* Flex grid */
  .grid,
  .grid > * {
    display: flex;
    width: 100%;
  }

  .row {
    flex-flow: row nowrap;
    padding: 0 0 30px 0;
  }

  .tabbed {
    padding: 25px;
  }

  .item {
    padding: 0 20px;
  }

  .item:first-child {
    padding-left: 0;
  }

  .item:last-child {
    padding-right: 0;
  }
}
